@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 200 900;
	font-display: swap;
	src: url('/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 200 900;
	font-display: swap;
	src: url('/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}

@theme {
	--font-sans: 'Nunito', sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-none: var(--color-black);
    --color-background: var(--color-neutral-950);
    --color-foreground: var(--color-neutral-100);
    --color-accent-foreground: var(--color-neutral-300);
    --color-accent: var(--color-neutral-800);
    --color-border: var(--color-neutral-800);
    --color-muted-foreground: var(--color-neutral-500);
    --color-muted: var(--color-neutral-500);
    --color-primary-foreground: var(--color-neutral-100);
    --color-primary: var(--color-red-600);
    --radius: 0.5rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --spacing-site-header: calc(var(--spacing) * 14);
    --spacing-site-content: calc(100dvh - var(--spacing) * 14);
}

@layer base {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-foreground) transparent;
        user-select: none;
    }

    html,
    body {
        @apply h-full;
    }

    body {
        @apply bg-background text-foreground font-sans;
    }
}

@layer utilities {
    .border-dev {
        border: 1px solid fuchsia;
    }

    .h-site-header {
        height: calc(var(--site-header-height));
    }

    .h-site-content {
        height: calc(100dvh-var(--site-header-height));
    }
}
